.card-component{
    width: 20%;
    background-color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-component >div >div >img {
    margin-top: 10px;
    width: auto;
    height: 100px;
}
.price-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.price-cart >div >p{
    font-size: 12px;
    color: yellow;
    height: 40px;
}
.price-cart > button {
    width: 50px;
    background-color: yellow;
    border-radius: 15px;
    margin-bottom: 10px;
}